.max-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: azure;
  }
  
  .another-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    
  }
  
  